{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Phonebank</title>
    <link rel="icon" href="{% static 'boran.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha256-+IZRbz1B6ee9mUx/ejmonK+ulIP5A5bLDd6v6NHqXnI=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <style>
      body {
        padding-top: 5rem;
      }
      .alert, .btn-primary, .btn-secondary, .card {
        margin-top: 1rem;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="">Phonebank</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/document/d/1XDBtHiGwppDovAMdAyW_W1tR-PDALvImGAPdtaVv0gE/view" target="_blank">General FAQ and Persian</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/document/d/1NdoR7YARk0SZ_U_DRO0kay_ZlLStKJhMKqAxU-n_Mi0/view" target="_blank">Boran FAQ</a>
          </li>
        </ul>
      <a href="https://en.wikipedia.org/wiki/Boran" target="_blank"><img class="pull-right" src="{% static 'boran.png' %}" height="25px"/></a>
      </div>
    </nav>

    <main role="main" class="container-fluid">
      <div class="alerts"></div>
      <div class="row">
          <div class="col" id="formContainer">
            <iframe id="form" src="{{ google_form_url }}?usp=pp_url&embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-5">
            <div class="card">
              <h5 class="card-header"><span id="name"></span><span class="pull-right"><small class="text-muted"><span id="id"></span><br/><span id="statename"></span></small></span></h5>
              <div class="card-body">
                <div id="phones">
                  <div class="alert alert-primary" role="alert">
                    Before continuing, please place an echo test call to verify that your headphones and microphone are working correctly. You should be able to hear yourself speak once the call is active.
                  </div>
                </div>
                <div id="similar_voters">
                </div>
                <span class="pull-right">
                  <!-- Another echo test SIP URI address is sip:4444@sip2sip.info -->
                  <button type="button" class="btn btn-secondary" onclick="makeCall('sip:echo@iptel.org')" id="echo" disabled="true">Echo test
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-primary" onclick="getContact()" id="getContact" disabled="true">New contact
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="card d-none" id="callInfo">
              <h5 class="card-header">
                <span id="callStatus"></span>
                <button type="button" class="btn btn-danger pull-right d-none" onclick="currentCall.hangup()" id="hangupCall" disabled="true">Hangup
                  <i class="fa fa-close" aria-hidden="true"></i>
                </button>
              </h5>
              <div class="card-body">
                <div class="alert alert-secondary d-none" role="alert" id="callLogContainer">
                  <code id="callLog"></code>
                </div>
                <audio id="audioCall" autoPlay="autoplay"/>
              </div>
            </div>
          </div>
          <div class="col-lg-5" id="meet">
          </div>
      </div>
    </main>

    <script
      src="https://browser.sentry-cdn.com/7.9.0/bundle.min.js"
      integrity="sha384-4Q6VnoFQcxYhNxg1ic5R+RRx0fam6rRf9PFAE3oTZhtTV2S8IM7uyl8Bg2z3AFi9"
      crossorigin="anonymous"
    ></script>
    <script>
      if (window.navigator.userAgent.indexOf('Chrome') == -1 && window.navigator.userAgent.indexOf('Firefox') == -1) {
        alert("It looks like you're using a browser we don't support. Please try again with the latest version of Brave or Chrome.");
      }
      Sentry.init({ dsn: '{{ sentry_dsn }}' });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha256-QjIXq/h3XOotww+h/j4cXiTcNZqA8cN60pqGCUv+gdE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/libphonenumber-js@1.10.11/bundle/libphonenumber-js.min.js" integrity="sha256-HB3oWyA6tmtTM24uD4Iv2cPtEcX/y36ieUUJwH+/rUA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/webrtc-adapter@8.1.1/out/adapter.js" integrity="sha256-+z8EmcYtf4ugdi3iOIJibDJP+3yGdUouYYf9Onucc+Q=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@telnyx/webrtc@2.8.1/lib/bundle.js" integrity="sha256-GKDoKuxCI5XHsnaAqdAkU1QB70r0sTN/Q6pg3mg1BHI=" crossorigin="anonymous"></script>
    <script src="https://meet.boran.quietapple.org/external_api.js"></script>
    <script>
      const domain = 'meet.boran.quietapple.org';
      const room = '{{ jitsi_room }}';
      var jitsiApi;
      if(room) {
        const options = {
            roomName: '{{ jitsi_room }}',
            height: $(window).height() - 100,
            parentNode: document.querySelector('#meet'),
            configOverwrite: {startWithAudioMuted: true, startWithVideoMuted: true}
        };
        jitsiApi = new JitsiMeetExternalAPI(domain, options);
      } else {
        $('#meet').addClass('d-none');
      }

      $('#form').css('height', $(window).height() - 100);

      function getContact(id='') {
        const urlParams = new URLSearchParams(window.location.search);
        const key = urlParams.get('key');
        const path = 'api/voter/' + id + '?key=' + key
        $.getJSON(path, function(api) {
          $('#name').text(api.voter.name);
          $('#id').text('#' + api.voter.id);
          $('#statename').text(api.voter.statename);
          $('#phones').html('<ul class="nav nav-pills"></ul>');
          var phonetypes = Object.keys(api.voter.phones);
          phonetypes.reverse();
          for (phonetype of phonetypes) {
            const phone = api.voter.phones[phonetype];
            var icon;
            if (phonetype.includes('cell')) {
              icon = "fa-mobile";
            } else {
              icon = "fa-phone";
            }
            $('#phones ul').append('<li class="nav-item"><a class="nav-link" onclick="makeCall(\x27' + phone + '\x27)" id="phone' + phone.substring(1) + '"><i class="fa ' + icon + '" aria-hidden="true"></i> ' + libphonenumber.parsePhoneNumberFromString(phone).format('NATIONAL') + '</a></li>');
          }
          if (api.similar_voters.length != 0) {
            $('#similar_voters').html('<div class="alert alert-info" role="alert"><p>There are other voters with overlapping phone numbers:</p><ul></ul></div>');
            for (voter of api.similar_voters) {
              if (voter.provided) {
                $('#similar_voters ul').append('<li><strike><a href="javascript:getContact(' + voter.id + ')">' + voter.name + '</a></strike></li>');
              } else {
                $('#similar_voters ul').append('<li><a href="javascript:getContact(' + voter.id + ')">' + voter.name + '</a></li>');
              }
            }
          } else  {
            $('#similar_voters').html('');
          }
          // When changing the iframe src or location.href, if there are
          // unsaved changes in the form, onbeforeunload will trigger an alert
          // about leaving the site. If this alert is canceled by the user, the
          // form will erroneously remain filled with the previous voter.
          // So to preempt this alert, we overwrite the entire iframe element.
          $("#formContainer").html('<iframe id="form" src="' + '{{ google_form_url }}?usp=pp_url&entry.391576799=' + api.voter.id + '&entry.1578854864=' + encodeURIComponent(Object.values(api.voter.phones).join(',')) + '&entry.1498627907=' + key + '&embedded=true' + '" width="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>');
          $('#form').css('height', $(window).height() - 100);
        });
        if (typeof telnyxClient == 'undefined' || telnyxClient.connected != true) {
          telnyxConnect();
        }
      }

      // Adapted from https://github.com/team-telnyx/webrtc/blob/master/packages/js/examples/vanilla/index.html
      var telnyxClient;
      var currentCall = null;
      function telnyxConnect() {
        telnyxClient = new TelnyxWebRTC.TelnyxRTC({
          login_token: '{{ telnyx_token }}',
        });
        telnyxClient.remoteElement = 'audioCall';
        telnyxClient
        .on('telnyx.ready', function () {
          console.log('Telnyx ready');
        })
        .on('telnyx.socket.close', function () {
          console.log('Disconnected from Telnyx');
        })
        .on('telnyx.notification', handleNotification);
        console.log('Connecting to Telnyx');
        telnyxClient.connect();
      }
      function telnyxDisconnect() {
        console.log('Disconnecting from Telnyx');
        telnyxClient.disconnect();
      }
      function handleNotification(notification) {
        switch (notification.type) {
          case 'callUpdate':
            handleCallUpdate(notification.call);
            break;
          case 'vertoClientReady':
            break;
          default:
            warning(notification.type);
            break;
        }
      }
      function handleCallUpdate(call) {
        currentCall = call;
        $('#callStatus').text("Call " + call.state);
        switch (call.state) {
          case 'new': // Setup the UI
            break;
          case 'trying': // You are trying to call someone and he's ringing now
            break;
          case 'recovering': // Call is recovering from a previous session
            if (confirm('Recover the previous call?')) {
              currentCall.answer();
            } else {
              currentCall.hangup();
            }
            break;
          case 'ringing': // Someone is calling you
            //used to avoid alert block audio play, I delayed to audio play first.
            setTimeout(function () {
              if (confirm('Pick up the call?')) {
                currentCall.answer();
              } else {
                currentCall.hangup();
              }
            }, 1000);
            break;
          case 'active': // Call has become active
            break;
          case 'hangup': // Call is over
            break;
          case 'destroy': // Call has been destroyed
            $('#hangupCall').addClass('d-none');
            $('#hangupCall').attr('disabled', true);
            currentCall = null;
            $('#getContact').attr('disabled', false);
            $('#callStatus').text('');
            break;
        }
        if (typeof call.cause != 'undefined' && call.cause != 'NORMAL_CLEARING' && call.state != 'destroy') {
          $('#callLogContainer').removeClass('d-none')
          $('#callLog').append(call.cause + ' (' + call.sipCode + ' ' + call.sipReason + ')\n');
        }
      }
      function makeCall(phone) {
        if (currentCall != null) {
          warning("Call already ongoing");
          return;
        }
        if (room) {
          jitsiApi.isAudioMuted().then(muted => {
            if(!muted) {
              warning("Please mute conference audio during call")
            }
          });
        }
        const params = {
          destinationNumber: phone,
          audio: 1,
        };
        if (phone[0] == '+') {
          $('#phone' + phone.substring(1)).addClass('text-muted');
        }
        $('#callInfo').removeClass('d-none');
        $('#callLog').html('');
        $('#callLogContainer').addClass('d-none');
        currentCall = telnyxClient.newCall(params);
        $('#getContact').attr('disabled', true);
        $('#hangupCall').removeClass('d-none');
        $('#hangupCall').attr('disabled', false);
      }

      function warning(message) {
        console.warn(message);
        $('.alerts').append('<div class="alert alert-warning alert-dismissible fade show" role="alert">' + message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
        $('.alert-dismissible').alert()
      }

      $(document).ready(function() {
        telnyxConnect();
        $('#echo').attr('disabled', false);
        $('#getContact').attr('disabled', false);
      });
    </script>
  </body>
</html>
