{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="same-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Phonebank</title>
    <link rel="icon" href="{% static 'boran.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha256-+IZRbz1B6ee9mUx/ejmonK+ulIP5A5bLDd6v6NHqXnI=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <style>
      body {
        padding-top: 5rem;
      }
      .alert, .btn-primary, .btn-secondary, .card {
        margin-top: 1rem;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="">Phonebank</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% for nav_link in nav_links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ nav_link.url }}" rel="noreferrer" target="_blank">{{ nav_link.name }}</a>
          </li>
          {% endfor %}
        </ul>
      <a href="https://en.wikipedia.org/wiki/Boran" rel="noreferrer" target="_blank"><img class="pull-right" src="{% static 'boran.png' %}" alt="Boran" height="25"/></a>
      </div>
    </nav>

    <main role="main" class="container-fluid">
      <div class="alerts"></div>
      <div class="row">
          <div class="col" id="formContainer">
            <iframe id="form" src="{{ form_url }}?kiosk=true&amp;ms=boran&amp;source=boran" width="100%" frameborder="0" marginheight="0" marginwidth="0" referrerpolicy="no-referrer">Loading…</iframe>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="card">
              <h5 class="card-header"><span id="name"></span><span class="pull-right"><small class="text-muted"><span id="id"></span></small></span></h5>
              <div class="card-body">
                <address>
                  <div id="address">
                  </div>
                  <div>
                    <span id="city"></span> <span id="state"></span> <span id="zip_code"></span>
                  </div>
                  <div id="email">
                  </div>
                </address>
                <div class="small" id="notes" style="font-family: monospace">
                </div>
                <div class="btn-group" id="phones">
                  <div class="alert alert-primary" role="alert">
                    Before continuing, please place a test call to verify that your headphones and microphone are working correctly.
                  </div>
                </div>
                <div id="similar_voters">
                </div>
                <span class="pull-right">
                  <button type="button" class="btn btn-secondary" onclick="connectAndCall('{{ test_phone }}')" id="echo" disabled="true">Test call
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-primary" onclick="getContact()" id="getContact" disabled="true">New contact
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="card d-none" id="callInfo">
              <h5 class="card-header">
                <span id="callStatus"></span>
                <span id="callTimer"></span>
                <small class="text-muted" id="agentStats"></small>
                <button type="button" class="btn btn-danger pull-right d-none" onclick="currentCall.hangup()" id="hangupCall" disabled="true">Hangup
                  <i class="fa fa-close" aria-hidden="true"></i>
                </button>
              </h5>
              <div class="card-body">
                <div class="alert alert-secondary d-none" role="alert" id="callLogContainer">
                  <code id="callLog"></code>
                </div>
                <audio id="audioCall" autoPlay="autoplay"></audio>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-4" id="meet">
          </div>
      </div>
    </main>

    <script
      src="https://browser.sentry-cdn.com/8.35.0/bundle.min.js"
      integrity="sha384-j1K2/oFJn/QPiNs/Fk58NwXcaEbWzaUEF04vKMBnEprfbZ2hIQrAO0yc0XEfai1E"
      crossorigin="anonymous"
    ></script>
    <script>
      if (window.navigator.userAgent.indexOf('Chrome') === -1 && window.navigator.userAgent.indexOf('Firefox') === -1) {
        alert("It looks like you're using a browser we don't support. Please try again with the latest version of Brave or Chrome.");
      }
      Sentry.init({dsn: '{{ sentry_dsn }}'});
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha256-QjIXq/h3XOotww+h/j4cXiTcNZqA8cN60pqGCUv+gdE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/libphonenumber-js@1.11.12/bundle/libphonenumber-js.min.js" integrity="sha256-A0EANzObUMnLCTkxH30ESvrUDhnCwpNN2lkO8wmy1sY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/webrtc-adapter@9.0.1/out/adapter.js" integrity="sha256-qJ4ou0JzcZYb0z+094G11tQBAHOuYgP5G2qTTyYvzDw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@telnyx/webrtc@2.21.2/lib/bundle.js" integrity="sha256-wRBkznQEOSnngkgS9kVr4fj8lVnxKOXayxySGIQ0V1k=" crossorigin="anonymous"></script>
    <script src="https://{{ jitsi_server }}/external_api.js"></script>
    <script>
      const agentName = '{{ agent_name }}';
      const formUrl = '{{ form_url }}';
      const jitsiRoom = '{{ jitsi_room }}';
      const jitsiServer = '{{ jitsi_server }}';
    </script>
    <script src="{% static 'phonebank/phonebank.js' %}"></script>
  </body>
</html>
