{% extends "admin/base_site.html" %}

{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
<h1>500 Internal Server Error</h1>
<p>Our team has been notified.</p>

{% if sentry_event_id %}
  <p>Error ID: {{ sentry_event_id }}</p>
  <script src="https://browser.sentry-cdn.com/7.9.0/bundle.min.js" integrity="sha384-4Q6VnoFQcxYhNxg1ic5R+RRx0fam6rRf9PFAE3oTZhtTV2S8IM7uyl8Bg2z3AFi9" crossorigin="anonymous"></script>
  <script>
    Sentry.init({ dsn: '{{ sentry_dsn }}' });
    Sentry.showReportDialog({ eventId: '{{ sentry_event_id }}' });
  </script>
{% endif %}
{% endblock %}
