{% extends "admin/base_site.html" %}

{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
<h1>500 Internal Server Error</h1>
<p>Our team has been notified.</p>

{% if sentry_event_id %}
  <p>Error ID: {{ sentry_event_id }}</p>
  <script
    src="https://browser.sentry-cdn.com/7.41.0/bundle.min.js"
    integrity="sha384-G2xNjblHi6NB8kRkcvFx2kqUMFeyS+OY+8SdfIqooyjTGC52RhRwhvMVcul/Adpv"
    crossorigin="anonymous"
  ></script>
  <script>
    Sentry.init({ dsn: '{{ sentry_dsn }}' });
    Sentry.showReportDialog({ eventId: '{{ sentry_event_id }}' });
  </script>
{% endif %}
{% endblock %}
